
.hero__tittle h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
    padding-bottom: 10px;
    width: 40%;
}

.hero__tittle h1 span {
    color: #7EDAD2;
}

.hero__tittle p {
    font-family: $secondary-font;
    font-size: 14px;
    color: #909090;
    padding-bottom: 24px;
    width: 35%;  
}

.hero__tittle a {
    font-family: $secondary-font;
    display: inline-block;
    text-decoration: none;
    background-color: #7EDAD2;
    padding: 10px 24px;
    color: white;
}

.hero__tittle a:hover {
    color: black;
    background-color: #b0deda;
}

.hero__tittle {
    padding-bottom: 50px;
}

.hero__info {
   display: flex;
   gap: 45px;
   width: 450px;
   padding-bottom: 120px;
}

.hero__info-numb {
    font-family: $primary-font;
    font-size: 30px;
}

.hero__info-text {
    font-family: $secondary-font;
    font-size: 10px;
    color:#909090;

}

.hero__info-1 {
    text-align: center;
}