.main__menu-ul {
    display: flex;
    gap: 45px;
    list-style: none;
 }

 .main__menu-ul li a {
    text-decoration: none;
    color: #424241;
    font-family: $secondary-font;
 }

 .main__menu-ul li a:hover {
    color: white;
 }