body {
    overflow-x: hidden;
    margin: 33px 160px;
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top right;
}

